body {
    color: white;
    background: black;
}

header {

}header {
    border: solid 2px rgb(250, 0, 0);
}header {
    border: solid 2px rgb(42, 122, 228);
}header {
    border-bottom: solid 2px rgb(42, 122, 228);
}body {
    color: rgb(152, 14, 233);
    background: rgb(255, 255, 255);
    margin: 0px;
}header {
    border-bottom: solid 2px rgb(189, 218, 255);
    padding: 20px;
    font-size: 32px;
    color: rgba(255, 95, 183, 0.541);
}